@import "./variables";

body {
	font-family: "Inter", sans-serif;
}

.container {
	padding: 2rem;
	margin-top: 8rem;
	z-index: 10;
	position: relative;

	@include sm {
		max-width: 1400px;
		margin: 6rem auto;
	}
}

.success {
	color: $lime-green;
}

.failure {
	color: $bright-red;
}

@import "./header";

@import "./big-cards";

@import "./_overview.scss";

@import "./footer";
